 <div class="col-xs-12 container-main only">
    <div class="container-title">
        <h1>Log In</h1>
    </div>
    <h3><span class="semi-bold">Email</span> & password</h3>
	<form class="form-auth" ng-submit="login.login()">
		<input type="username" ng-model="login.credentials.email" placeholder="firstname.lastname" class="form-control"><br>
		<input type="password" ng-model="login.credentials.password" placeholder="Password" class="form-control"><br>
		<input type="submit" value="Log in" class="menu-button blue" ng-disabled="login.loginForm.$invalid()" />
		<p class="text-warning">{{error_message}}</p>
	</form>
</div>
